#set($appid = $link.param('app'))
<style>
#form_deny h1 {font-size:12pt;margin:0 0 10px 0;}
#form_deny textarea {display:block;width:450px;height:200px;}
#form_deny input {float:left; margin:10px 0 0 0;}
#form_deny #error_msg {float:left;margin:10px 0 0 0;}
</style>
<form id="form_deny" action="$link.action("admin/audit_app?pass=false&guid=$appid")" method="post">
	<h1>请输入拒绝的原因：</h1>
	<textarea id='ta_reason' name='reason'></textarea>
	<input type='submit' value='发送' class='submit'/>
	<span id='error_msg'></span>
</form>
<script type='text/javascript'>
<!--
$('#form_deny').ajaxForm({	
    success: function(html) {
    	$('#error_msg').hide();
    	if(html.length > 0){
    		$('#error_msg').html("<span class='error'>"+html+"</span>");
			$('#ta_reason').focus();
		}
		else {
    		$('#error_msg').html("<span class='ok'>已拒绝</span>");
			t = setTimeout(function(){
				clearTimeout(t);
    			jQuery.colorbox.close();
			},2000);
		}
    	$('#error_msg').show();
    }
});
//-->
</script>