#set($layout="main.vm")
#set($page_title = "NextApp 使用条款和隐私政策")

<div id="page_banner">
    <div class="container">
        <h2>NextApp 使用条款和隐私政策</h2>
    </div>
</div>
<div id="main">
    <div class="container agreement clearfix">
        <ol>
          <li><strong>服务条款的确认和接纳 </strong>
          <ol>
            <li>欢迎使用深圳市奥思网络科技有限公司提供的 NextApp 服务（以下简称&ldquo;NextApp&rdquo;）。NextApp 同意按照本协议的规定及其不时发布的操作规则提供基于互联网的相关服务（以下称&ldquo;网络服务&rdquo;）。为获得网络服务，服务使用人（以下称为&ldquo;用户&rdquo;）应当同意本协议的全部条款并按照页面上的提示完成全部的登陆/注册程序。用户在登陆/注册程序过程中选择&ldquo;接受&rdquo;即表示用户完全接受本协议项下的全部条款。 </li>
            <li>NextApp使用第三方账号登陆，您一旦使用NextApp提供的登陆方式成功登陆，您将在NextApp网站上开设一个账号。NextApp的账号只提供服务不提供登陆功能。NextApp并不保存用户的登陆信息。用户需要对NextApp账户中的信息负责。如果由于您未保管好第三方登陆的账号和密码而对您、NextApp或者第三方造成损失，您将负全部责任。 </li>
          </ol>
          </li>
        

          <li><strong>服务内容 </strong>
          <ol>
            <li>NextApp网络服务的具体内容有NextApp根据实际情况提供，包括但不限于NextApp 手机客户端软件等。 </li>
            <li>用户理解NextApp提供的相关网络服务，其他所需资源及设备均有用户自行备置。 </li>
          </ol>
        </li>

          <li><strong>服务变更、中断或终止 </strong>

        <p>鉴于网络服务器的特殊性，用户同意NextApp有权随时且不予通知而变更、中断或者终止部分或者全部的网络服务，而无需对任何用户或者第三方承担任何责任。用户有权单方不经通知终止接受NextApp提供的服务。 </p>
</li>
          <li><strong>使用规则 </strong>

        <p>用户在使用NextApp网络服务过程中，必须遵守以下原则： </p>
          <ol>
            <li>遵守中国有关的法律和法规； </li>
            <li>遵守所有与网络服务有关的网络协议、规定和程序； </li>
            <li>不得为任何非法目的而使用网络服务； </li>
            <li>不得利用NextApp网络服务进行任何可能对互联网或者移动互联网或者第三方网站正常运转造成不利影响的行为； </li>
            <li>不得利用NextApp网络服务进行任何不利于NextApp的行为； </li>
            <li>如发现任何非法使用NextApp网络服务的情况，应立即通告NextApp。 </li>
          </ol>
          </li>
        <p>如果用户在使用网络服务时违反上述任何规定，NextApp或者其授权人有权要求用户改正或者直接采纳一切必要的措施以减轻用户不正当行为造成的影响。NextApp针对某些特定的网络服务使用通过各种方式（包括但不限于网页公告等）作出的任何生命、通知、警示等内容视为本协议的一部分，用户如使用该等NextApp网络服务，视为用户同意该等声明、通知、警示的内容。 </p>

          <li><strong>知识产权 </strong>
          <ol>
            <li>NextApp提供的网络服务、软件中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它财产所有权法律的保护，未经相关权利人同意，上述资料均不得用于任何商业目的。 </li>
            <li>NextApp提供的软件以及NextApp为提供网络服务而使用的任何软件（包括但不限于软件中所含的任何图象、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程（reverse engineer）、反向编译（decompile）或反汇编（disassemble）。 </li>
          </ol>
          </li>
        

          <li><strong>隐私保护 </strong>
          <ol>
            <li>保护用户隐私是NextApp的一项基本政策，NextApp保证不对外公开或向第三方提供单个用户的用户账户资料，以及用户在使用网络服务时存储在NextApp的非公开内容，但下列情况除外： </li>
            <ol>
              <li>事先获得用户的明确授权； </li>
              <li>根据有关的法律法规要求； </li>
              <li>按照相关政府主管部门的要求； </li>
              <li>为维护社会公众的利益； </li>
              <li>为维护NextApp的合法权益； </li>
              <li>根据本跳关相关规定或者NextApp认为必要的其他情况下。 </li>
            </ol>
            <li>在不透露单个用户隐私资料的前提下，NextApp有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。 </li>
          </ol>
          </li>

          <li><strong>免责声明 </strong>
          <ol>
            <li>用户明确同意其使用NextApp网络服务所存在的风险以及一切后果将完全有自己承担，NextApp对用户不承担任何责任。 </li>
            <li>NextApp对网络服务的效用、连续性、及时性、安全性、准确性也都不作蛋糕。 </li>
            <li>NextApp不搞正到第三方网页的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由NextApp实际控制的任何网页上的内容，NextApp不承担任何责任。 </li>
            <li>对于因不可抗力或NextApp不能控制的原因造成的网络服务中断或其它缺陷，NextApp不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。 </li>
            <li>用户同意，对于NextApp免费向用户提供的各项网络服务质量缺陷本身及其引发的任何损失，NextApp无需承担任何责任。 </li>
          </ol>
          </li>
        

          <li><strong>违约赔偿 </strong>
          <ol>
            <li>如因NextApp违反有关法律、法规或本协议项下的任何条款而给用户造成损失，NextApp同意承担由此造成的损害赔偿责任。 </li>
            <li>用户同意保障和维护NextApp及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给NextApp或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。 </li>
          </ol>
          </li>

          <li><strong>协议修改 </strong>
          <ol>
            <li>NextApp有权在必要时修改本服务条款。 </li>
            <li>如果不同意NextApp对本协议相关条款所做的修改，用户有权随时终止使用网络服务。如果用户继续使用网络服务，则视为用户接受NextApp对本协议相关条款所做的修改。 </li>
          </ol>
          </li>
        

          <li><strong>法律管辖 </strong>
          <ol>
            <li>本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。 </li>
            <li>如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向NextApp所在地的人民法院提起诉讼。 </li>
          </ol>
          </li>
		</ol>
    </div>
</div>