#set($layout="main.vm")
#set($page_title = "完善用户资料 - NextApp.cn")

<div id="page_banner">
    <div class="container">
        <h2>请完善用户资料</h2>
    </div>
</div>
<div id="main">
    <div class="container">
        <form id='form_set_user_info' action="$link.action('user/updateInfo')" method="POST" class='form'>
			<table cellspacing='15'>
            <tr>
                <th>姓名：</th>
                <td><input type='text' name='name' value='$format.html(${g_user.name})' class="intext"/></td>
            </tr>
            <tr>
                <th>邮箱：</th>
                <td>
                    <input type='text' name='email' class="intext" value='#if($format.is_email(${g_user.email}))$format.html(${g_user.email})#end'/>                    
                    <span class="info"> 此邮箱用于接收App创建的结果信息，请务必填写真实可靠的邮箱地址</span>
                </td>
            </tr>
            <tr class='action'>
                <th></th>
                <td>
					<input type='submit' value='提交' class="submit"/>
                    <span id='error_msg' class='error'></span>
                </td>
            </tr>
			</table>
        </form>
    </div>
</div>
<script type='text/javascript'>
    <!--
    $('#form_set_user_info').ajaxForm({
        success:function (html) {
            if (html.length > 0) {
                $('#error_msg').hide();
                $('#error_msg').html(html);
                $('#error_msg').show();
            } else {				
                location.href = "$link.root('step1')";
            }
        }
    });
    //-->
</script>